<div class="maindiv">
  <span class="example-fill-remaining-space"></span>
  <div class="textdiv">
    <p class="title">
      Witaj w aplikacji internetowej wspomagającej analizę danych pogodowych stworzonej w ramach projektu inżynierskiego.
    </p>
    <p>
      Autor: Mateusz Matłoch
    </p>
    <p>
      Promotor: dr. inż. Katarzyna Harężlak
    </p>
    <p>
    </p>
    <h2 class="header">

    </h2>
    <p class="title">
      O aplikacji:
    </p>
    <p>
      MeteoApp - jest to aplikacja umożliwiająca użytkownikowi analizę danych meteorologicznych, pochodzących z
      rzetelnego żródła jakim jest Instytut Meteorologi i Gospodarki Wodnej - Państwowy Instytut Badawczy.
    </p>
    <h2 class="header">

    </h2>
    <p class="title">
      Dlaczego dane pogodowe?
    </p>
    <p>
      Dane pogodowe to rzadki, a jednocześnie bardzo ciekawy temat. Nowoczesne aplikacje implementują głównie nowoczesne modele pogodowe służące prognozowaniu pogody.
      Cześć z nich, umożliwia dostęp do danych historycznych, jednak są to informacje najczęściej płatne. Celem niniejszej aplikacji jest dostarczenie użytkownikowi darmowych,
      rzetelnych danych pogodowych historycznych oraz narzędzi do ich analizy.
    </p>
  </div>
  <span class="example-fill-remaining-space"></span>
</div>
