<div class="tab">
  <mat-tab-group class="tab" [dynamicHeight]="true" animationDuration="0ms" [disableRipple]="true">
    <mat-tab label="Pomiary" class="tab">
      <app-admin-measurement></app-admin-measurement>
    </mat-tab>
    <mat-tab label="Stacje" class="tab">
      <app-admin-stations></app-admin-stations>
    </mat-tab>
    <mat-tab label="Użytkownicy" class="tab">
      <app-admin-users></app-admin-users>
    </mat-tab>
    <mat-tab label="Logi" class="tab">
    <app-admin-log></app-admin-log>
  </mat-tab>
  </mat-tab-group>
</div>
