.maindiv {
  width: 100%;
  display: flex;
}

.header {
  border-bottom: 2px solid;
}

.podstawowe {
  width: 500px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.zmianahasla {
  width: 500px;
}

.input1 {
  font-family: "Comic Sans MS";
  width: 300px;
  height: 40px;
  border-color: gray;
  font-size: large;
  text-align: center;
}

.label {
  font-size: large;
}

.button1 {
  font-family: "Comic Sans MS";
  font-size: large;
  color: white;
  background-color: darkblue;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 30px;
  margin-right: 20px;
}

.button2 {
  font-family: "Comic Sans MS";
  font-size: large;
  color: white;
  background-color: darkblue;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 30px;
}

.content {
  width: 300px;
}

.headerdiv {
  width: 500px;
}

.tocenter {
  width: 100px;
  height: 10px;
}

.box {
  width: 100%;
  display: flex;
}
